<div class='container' ng-controller='CrearContactoController'>
	<div class='panel panel-default'>
		<div class='panel-body'>

			<h3>Crear contacto</h3>

			<hr>

			<form name='crearContactoForm' novalidate>
				<div class='form-group'>
					<label>Proveedor *</label>
					<select class='form-control' ng-options='p.resource_uri as p.razon for p in proveedores' ng-model='contacto.proveedor' required></select>
				</div>

				<div class='form-group'>
					<label>Nombre *</label>
					<input class='form-control' type='text' ng-model='contacto.nombre' required>
				</div>

				<div class='form-group'>
					<label>Apellido *</label>
					<input class='form-control' type='text' ng-model='contacto.apellido' required>
				</div>

				<div class='form-group'>
					<label>Telefono fijo *</label>
					<input class='form-control' type='tel' ng-model='contacto.telefono' required>
				</div>

				<div class='form-group'>
					<label>Extension</label>
					<input class='form-control' type='tel' ng-model='contacto.extension'>
				</div>

				<div class='form-group'>
					<label>Celular</label>
					<input class='form-control' type='tel' ng-model='contacto.celular'>
				</div>

				<div class='form-group'>
					<label>Correo electronico *</label>
					<input class='form-control' type='email' ng-model='contacto.email' required>
				</div>

				<div class='form-group'>
					<label>Cargo *</label>
					<input class='form-control' type='text' ng-model='contacto.cargo' required>
				</div>

				<div class='form-group'>
					<label>Perfil *</label>
					<input class='form-control' type='text' ng-model='contacto.perfil' required>
				</div>

				<div class='form-group'>
					<label>Familia-proveedor *</label>
					<select class='form-control' ng-options='f.resource_uri as f.nombre for f in familias' ng-model='contacto.familia' required></select>
				</div>

				<div class='form-group alert alert-warning' ng-show='!crearContactoForm.$valid'>
					<p>Debe llenar todos los campos marcados por *</p>
				</div>

				<button class='btn btn-default' ng-click='crearcontacto()' ng-disabled='!crearContactoForm.$valid'>Crear contacto</button>
			</form>

			<br>

			<div ng-class='ans.css'>{{ ans.msg }}</div>

		</div>
	</div>
</div>