"contacto": {"extension": "12", "telefono": "1234567"}, 

<div ng-controller="CrearUsuarioController">
	<h3>Crear usuario</h3>
	<form name='crearUsuarioForm' novalidate>

		<fieldset>

			<legend><span>1.</span> Informacion de registro</legend>

			<label for='cliente'>Cliente:</label>
			<select ng-options='cliente.razon for cliente in clientes' id='cliente' ng-model='usuario.cliente'></select>

			<label for='username'>Nombre de usuario: *</label>
			<input type='text' id='username' ng-model='usuario.nombre' required>

			<label for='mail'>Email: *</label>
			<input type='text' id='mail' ng-model='usuario.contacto.email' required>

			<label for='password'>Contrasena: *</label>
			<input type='text' id='password' ng-model='usuario.password' required>

			<label for='rpassword'>Repetir contrasena: *</label>
			<input type='text' id='rpassword' ng-model='usuario.rpassword' required>

			<p class='error' ng-show='pass()'>Las contrasenas no coinciden</p>

		</fieldset>

		<fieldset>

			<legend><span>2.</span> Informacion de contacto</legend>

			<label for='nombre'>Nombre: *</label>
			<input type='text' id='nombre' ng-model='usuario.contacto.nombre' required>

			<label for='apellido'>Apellido: *</label>
			<input type='text' id='apellido' ng-model='usuario.contacto.apellido' required>

			<label for='celular'>Celular: *</label>
			<input type='text' id='celular' ng-model='usuario.contacto.celular' required>

			<label for='telefono'>Telefono: *</label>
			<input type='text' id='telefono' ng-model='usuario.contacto.telefono' required>

			<label for='extension'>Extension: *</label>
			<input type='text' id='extension' ng-model='usuario.contacto.extension' required>

		</fieldset>

		<fieldset>

			<legend><span>3.</span> Informacion de perfil</legend>

			<label for='cargo'>Cargo: *</label>
			<input type='text' id='cargo' ng-model='usuario.contacto.cargo' required>

			<label for='perfil'>Perfil: *</label>
			<input type='text' id='perfil' ng-model='usuario.contacto.perfil' required>

		</fieldset>

		<button ng-click='crearusuario()' ng-disabled='inProgress'>Crear usuario</button>

		<p ng-class='msg.css' ng-show='msg'>{{ msg.msg }}</p>
	</form>
</div>