<div ng-controller="CrearLugarController">
	<h3>Crear lugar</h3>

	<--! miss usuario and contacto -->
	<--! miss usuario in getcontacto -->
	<form name='lugarForm' novalidate>
		<select ng-model='seccion' ng-options='secciones.nombre'></select>
		
		<label for='crearlugarnombre'>nombre</label>
		<input id='crearlugarnombre'type='text' ng-model='lugar.nombre'>

		<label for='crearlugarciudad'>ciudad</label>
		<input id='crearlugarciudad'type='text' ng-model='lugar.ciudad'>

		<select ng-model='seccion' ng-options='secciones.nombre'></select>
		<input id='crearlugarnumero1'type='text' ng-model='lugar.numero1'>
		
		<label for='crearlugarnumero2'>#</label>
		<input id='crearlugarnumero2'type='text' ng-model='lugar.numero2'>
		
		<label for='crearlugarnumero3'>-</label>
		<input id='crearlugarnumero3'type='text' ng-model='lugar.numero3'>
		
		<label for='crearlugardescripcion'>descripcion</label>
		<input id='crearlugardescripcion'type='text' ng-model='lugar.descripcion'>

		<div ng-repeat='contacto in lugar.contactos'>
		</div>

		<button ng-show='buttonaddcontacto' ng-click='setcontactostatus(1)' ng-show='iscontactostatus(0)'>Añadir contacto</button>
		<div id='anadircontacto' ng-show='!iscontactostatus(0)'>
			<div ng-show='iscontactostatus(1)'>
				<label for='crearlugarselectcontacto'>seleccionar contacto existente</label>
				<select id='crearlugarselectcontacto' ng-options='contacto.nombre+" "+contacto.apellido in contactos' ng-model='contacto' ng-change='addcontacto()'></select>
				<strong>{{ ans.msgcontacto }}</strong>
			</div>

			<button ng-click='setcontactostatus(2)'>crear un nuevo contacto</button>

			<div ng-id='crearlugarcrearcontacto' ng-show='iscontactostatus(2)'>
				CREAR UN NUEVO CONTACTO
			</div>
		</div>
		<button ng-click='crear()'>Crear lugar</button>
	</form>
</div>