<div ng-controller='AprobarSolicitudController'>
	<h3>Aprobar solicitud</h3>
	<div ng-repeat='solicitud in solicitudes'>
		<form name='solicitudForm' novalidate>
			{{ solicitud }}
			<button ng-click='aprobarsolicitud(solicitud)'>Aprobar solicitud</button>
			<textarea placeholder='Razon de rechazo' required></textarea>
			<button ng-click='rechazarsolicitud(solicitud)'>Rechazar solicitud</button>
			<textarea placeholder='Pregunta' required></textarea>
			<button ng-click='preguntar(solicitud)'>Preguntar</button>
		</form>
	</div>
</div>