<div ng-controller="CrearSolicitudController">
	<h3>Crear solicitud</h3>
	<form name='solicitudForm' novalidate>
		<div ng-repeat='producto in productos'>
			<input type='text' placeholder='Producto*' required>
			<input type='text' placeholder='Cantidad*' required>
			<input type='text' placeholder='Unidad*' required>
			<button ng-click='quitarproducto()'>Quitar producto</button>
		</div>
		<button ng-click='agregarproducto'>Agregar producto</button>
		<input type='text' placeholder='Lugar de entrega*' required>
		<input type='text' placeholder='Fecha requerida*' required>
		<select ng-option='opt for opt in centroequipo'></select>
		<input type='text' placeholder='Centro de costo*' required>
		<input type='text' placeholder='Equipo*' required>
		<input type='text' placeholder='Solicitante*' required>
		<textarea placeholder='Comentarios*' required></textarea>
		<button ng-click='crearsolicitud()'>Crear solicitud</button>
	</form>
</div>