<div id='solicitudes' ng-show='nav == "4"'>
	<div class='panel panel-default col-md-11' ng-repeat='solicitud in opciones.solicitudes'>
		<div class='panel-body'>
			<h3>Solicitud</h3>
			<div class='col-md-6'>
				<p><strong>Lugar:</strong> {{ solicitud.lugar }}</p>
				<p><strong>Proyecto:</strong> {{ solicitud.proyecto }}</p>
				<p><strong>Fecha:</strong> {{ solicitud.fecha }}</p>
				<p><strong>Estado:</strong> Aprobada</p>
				<strong>Comentarios:</strong>
				<p ng-show='solicitud.comentario != null'>{{ solicitud.comentario }}</p>
			</div>
			<div class='col-md-6'>
				<strong>Productos:</strong>
				<p ng-repeat='producto in solicitud.productos'>
					<span class='glyphicon glyphicon-record'></span>
					{{ producto.nombre }} ({{ producto.cantidad }} {{ producto.unidad.nombre }})
				</p>
			</div>
		</div>
	</div>
</div>