<div ng-controller='SolicitudesCotizacionController'>
	<h3>Solicitudes de cotizacion</h3>
	<form novalidate>
		<div ng-repeat='solicitud in solicitudes'>
			{{ solicitud }}
			<button ng-click='enviaraotro()'>Enviar a otros</button>
			<div>
				<div ng-repeat='proveedor for proveedor in proveedores'>
					<input type='text' placeholder='Proveedor'>
				</div>
				<button ng-click='agregarotro()'>Agregar otro</button>
				<button ng-click='enviar()'>Confirmar envio</button>
			</div>
		</div>
	</form>
</div>