<div ng-controller="CrearLugarController">
	<h3>Crear lugar</h3>

	<!-- <p>CLIENTE -> {{ cliente }}</p>-->

	<!-- miss usuario -->
	<!-- miss usuario in getcontacto -->
	<form name='lugarForm' novalidate>

		<div class='form-group'>		
			<label>Nombre *</label>
			<input type='text' ng-model='lugar.nombre' ng-change='checknombre()' required>
			<strong ng-show='lugar.nombre != ""'>{{nombrestatus}}</strong>
		</div>

		<div class='form-group'>	
			<label>Ciudad *</label>
			<input type='text' ng-model='lugar.ciudad' required>
		</div>

		<div class='form-group'>
			<label>Direccion *</label>
		</div>

		<div class='form-group'>
			<label>Seccion</label>
			<select ng-model='seccion' ng-options='seccion.nombre for seccion in secciones' required>
			</select>

			<input type='text' ng-model='lugar.numero1' required>

			<label>#</label>
			<input type='text' ng-model='lugar.numero2' required>

			<label>-</label>
			<input type='text' ng-model='lugar.numero3' required>
		</div>
			
		<div class='form-group'>
			<label>Descripcion *</label>
			<input type='text' ng-model='lugar.descripcion' required>
		</div>

		<div class='form-group'>
			<div ng-repeat='contacto in lugar.contactos'>
				{{contacto.nombre}} {{contacto.apellido}} <br>
				cargo: {{contacto.cargo}}<br>
				perfil: {{contacto.perfil}}
				<button ng-click='eliminarcontacto(contacto)'>eliminar</button>
			</div>
			<div ng-show='iscontactostatus(0)'>
				<button ng-show='iscontactostatus(0)' ng-click='setcontactostatus(1)'>Añadir contacto</button>
			</div>
			<div id='anadircontacto' ng-show='!iscontactostatus(0)'>
				<div ng-show='iscontactostatus(1) && contactos.length != 0'>
					<label for='crearlugarselectcontacto'>seleccionar contacto existente</label>
					<select id='crearlugarselectcontacto' ng-options='contacto.nombre+" "+contacto.apellido for contacto in contactos' ng-model='contacto' ng-change='addcontacto()' required></select>
					<strong>{{ ans.msgcontacto }}</strong>
				</div>

				<button ng-click='setcontactostatus(2)' ng-show='iscontactostatus(1)'>crear un nuevo contacto</button>
				<button ng-click='setcontactostatus(0)' ng-show='iscontactostatus(1)'>cancelar</button>
				<div ng-id='crearlugarcrearcontacto' ng-show='iscontactostatus(2)'>
					<h4>Crear un nuevo contacto</h4>
					<label for='crearlugarcrearcontactonombre'>nombre</label>
					<input ng-model='contacto.nombre' id='crearlugarcrearcontactonombre' type='text' required>

					<label for='crearlugarcrearcontactoapellido'>apellido</label>
					<input ng-model='contacto.apellido' id='crearlugarcrearcontactoapellido' type='text' required>

					<label for='crearlugarcrearcontactotelefono'>telefono</label>
					<input ng-model='contacto.telefono' id='crearlugarcrearcontactotelefono' type='text' required>

					<label for='crearlugarcrearcontactoextension'>extension</label>
					<input ng-model='contacto.extension' id='crearlugarcrearcontactoextension' type='text'>

					<label for='crearlugarcrearcontactocelular'>celular</label>
					<input ng-model='contacto.celular' id='crearlugarcrearcontactocelular' type='text'>

					<label for='crearlugarcrearcontactoemail'>email</label>
					<input ng-model='contacto.email' id='crearlugarcrearcontactoemail' type='text'>

					<label for='crearlugarcrearcontactocargo'>cargo</label>
					<input ng-model='contacto.cargo' id='crearlugarcrearcontactocargo' type='text'>

					<label for='crearlugarcrearcontactoperfil'>perfil</label>
					<input ng-model='contacto.perfil' id='crearlugarcrearcontactoperfil' type='text'>

					<button ng-click='addcontacto()'>agregar contacto</button>
					<button ng-click='setcontactostatus(0); contacto = {}'>cancelar</button>
				</div>
			</div>
			<input type='submit' ng-click='crear()' value='crear lugar' ng-disabled='nombrestatus!="nombre disponible"'>
			<strong>{{ ans.msg }}</strong>
		</div>
	</form>
</div>