<div class='container' ng-controller='CrearLugarController'>
	<div class='panel panel-default'>
  		<div class='panel-body'>

			<h3>Crear lugar</h3>

			<hr>

			<form name='crearLugarForm' novalidate>

				<div class='form-group'>		
					<label>Nombre *</label>
					<input class='form-control' type='text' ng-model='lugar.nombre' ng-change='checknombre()' required>
				</div>

				<div class='form-group alert alert-warning' ng-show='!valid'>
					<p>Ya existe un lugar con ese nombre</p>
				</div>

				<div class='form-group'>	
					<label>Ciudad *</label>
					<input class='form-control' type='text' ng-model='lugar.ciudad' required>
				</div>

				<div class='form-group'>
					<div class='col-md-3'>
						<label>Direccion *</label>
						<select class='form-control' ng-model='lugar.seccion' ng-options='s.k as s.v for s in secciones' required>
						</select>
					</div>

					<div class='col-md-3'>
						<label><br></label>
						<input class='form-control' type='text' ng-model='lugar.numero1' required>
					</div>

					<div class='col-md-3'>
						<label>#</label>
						<input class='form-control' type='text' ng-model='lugar.numero2' required>
					</div>

					<div class='col-md-3'>
						<label>-</label>
						<input class='form-control' type='text' ng-model='lugar.numero3' required>
					</div>
				</div>

				<div class='form-group'>
					<label>Telefono *</label>
					<input class='form-control' type='tel' ng-model='lugar.telefono' required>
				</div>

				<div class='form-group alert alert-warning' ng-show='!crearLugarForm.$valid'>
					<p>Debe llenar todos los campos marcados con *</p>
				</div>

				<button class='btn btn-default' type='button' ng-click='crearlugar()' ng-disabled='!crearLugarForm.$valid || !valid'>Crear lugar</button>
			</form>

			<div ng-class='ans.css'>{{ ans.msg }}</div>

		</div>
	</div>
</div>