<div class='container' ng-controller='ActualizarProductoController'>
	<div class='panel panel-default'>
  		<div class='panel-body'>

			<h3>Actualizar producto</h3>

			<hr>

			<form name='actualizarProductoForm' novalidate>
				<div class='form-group'>
					<label>Producto *</label>
					<select class='form-control' ng-options='p.nombres[0].nombre for p in productos' ng-model='producto' ng-change='setCopy()' required></select>
				</div>

				<div ng-repeat='nombre in nombres'>
					<div class='form-group'>
						<label>Nombre *</label>
						<div class='input-group'>
							<input type='text' class='form-control' ng-model='nombre.v' ng-change='checknombre(nombre.v, $index)' required>
							<span class='input-group-btn'>
								<button class='btn btn-default' type='button' ng-click='quitar(nombre, nombres)' ng-disabled='nombres.length <= 1'>Quitar nombre</button>
							</span>
						</div>
					</div>

					<div class='form-group alert alert-warning' ng-show='validnombre[$index] == false'>
						<p>Ya existe un producto con ese nombre</p>
					</div>
				</div>

				<div class='form-group'>
					<button class='btn btn-default' ng-click='agregar(nombres)'>Agregar nombre</button>
				</div>

				<div class='form-group'>
					<label>Codigo ONU</label>
					<input class='form-control' type='text' ng-model='producto.onu'>
				</div>

				<div class='form-group'>
					<label>Tipo *</label>
					<select class='form-control' ng-options='t.k as t.v for t in tipo' ng-model='producto.tipo' required></select>
				</div>

				<div class='form-group'>
					<label>Descripcion *</label>
					<br>
					<textarea class='form-control' ng-model='producto.descripcion' required></textarea>
				</div>

				<div class='form-group'>
					<label>Referencia</label>
					<input class='form-control' type='text' ng-model='producto.referencia'>
				</div>

				<div class='form-group'>
					<label>Talla</label>
					<input class='form-control' type='text' ng-model='producto.talla'>
				</div>

				<div class='form-group'>
					<label>Marca *</label>
					<input class='form-control' type='text' ng-model='producto.marca' required>
				</div>

				<div class='form-group' ng-repeat='unidad in unidades'>
					<label>Unidad *</label>
					<div class='input-group'>
						<input type='text' class='form-control' ng-model='unidad.v' required>
						<span class='input-group-btn'>
							<button class='btn btn-default' type='button' ng-click='quitar(unidad, unidades)' ng-disabled='unidades.length <= 1'>Quitar unidad</button>
						</span>
					</div>
				</div>

				<div class='form-group'>
					<button class='btn btn-default' ng-click='agregar(unidades)'>Agregar unidad</button>
				</div>

				<div class='form-group'>
					<label>Familia-proveedor</label>
					<select class='form-control' ng-options='f.resource_uri as f.nombre for f in familias' ng-model='producto.familia'></select>
				</div>

				<div class='form-group'>
					<label>Foto</label>
					<input type='file' ng-model='producto.foto'>
				</div>

				<div class='form-group'>
					<label>Seleccione equipo o centro de costo</label>
					<select class='form-control' ng-options='e.k as e.v for e in equipocentro' ng-model='ec'></select>
				</div>

				<div class='form-group' ng-show='ec == 1'>
					<label>Equipo</label>
					<select class='form-control' ng-options='e.resource_uri as e.nombre for e in equipos' ng-model='producto.equipo'></select>
				</div>

				<div class='form-group' ng-show='ec == 2'>
					<label>Centro de costo</label>
					<select class='form-control' ng-options='c.resource_url as c.nombre for c in centros' ng-model='producto.centro'></select>
				</div>

				<div class='form-group alert alert-warning' ng-show='!$scope.actualizarProductoForm.$valid'>
					<p>Debe llenar todos los campos marcados con *</p>
				</div>

				<button class='btn btn-default' ng-click='productoproducto()' ng-disabled='!$scope.actualizarProductoForm.$valid || !valid'>Actualizar producto</button>

				<button class='btn btn-default' ng-click='descartar()'>Descartar cambios</button>
			</form>

			<div ng-class='ans.css'>{{ ans.msg }}</div>

		</div>
	</div>
</div>