<div class='container' ng-controller="ActualizarFamiliaController">
	<div class='panel panel-default'>
		<div class='panel-body'>

			<h3>Actualizar familia-proveedor</h3>

			<hr>

			<form name='actualizarFamiliaForm' novalidate>
				<div class='form-group'>
					<label>Familia-proveedor *</label>
					<select class='form-control' ng-model='familia' ng-options='f.nombre for f in familias' ng-change='setCopy()' required></select>
				</div>

				<div class='form-group'>
					<label>Nombre *</label>
					<input class='form-control' type='text' ng-model='familia.nombre' ng-change='checknombre()' required>
				</div>

				<div class='form-group alert alert-warning' ng-show='!valid'>
					<p>Ya existe un nombre para esa familia</p>
				</div>

				<div class='form-group alert alert-warning' ng-show='!actualizarFamiliaForm.$valid'>
					<p>Debe llenar todos los campos con *</p>
				</div>

				<button class='btn btn-default' type='button' ng-click='actualizarfamilia()' ng-disabled='!actualizarFamiliaForm.$valid || !valid'>Actualizar familia-proveedor</button>

				<button class='btn btn-default' type='button' ng-click='descartar()'>Descartar cambios</button>
			</form>

			<br>

			<div ng-class='ans.css'>{{ ans.msg }}</div>

		</div>
	</div>
</div>