<div ng-controller='SigninController'>

	<form name='signinForm' novalidate>

		<div class='form-group'>

			<label for='usuario'>Nombre de usuario:</label>
			<input type='text' id='usuario' ng-model='usuario.usuario' required>

		</div>

		<div class='form-group'>

			<label for='contrasena'>Contrasena:</label>
			<input type='password' id='contrasena' ng-model='usuario.contrasena' required>

		</div>

		<button ng-click='login()' ng-disabled='loginForm.$valid'>Iniciar sesion</button>

		<p ng-show='ans' ng-class='ans.css'>{{ ans.msg }}</p>

	</form>

</div>