<div class='container' ng-controller='SigninController'>
	<div class='panel panel-default'>
		<div class='panel-body'>

			<form name='signinForm' novalidate>
				<div class='form-group'>
					<input class='form-control input-lg' type='text' placeholder='Usuario' ng-model='usuario.usuario' required>
				</div>

				<div class='form-group'>
					<input class='form-control input-lg' type='password' placeholder='Contrasena' ng-model='usuario.contrasena' required>
				</div>

				<button type='button' class='btn btn-primary btn-lg btn-block' ng-click='login()' ng-disabled='!signinForm.$valid'>Iniciar sesion</button>
			</form>

			<br>

			<div ng-show='ans' ng-class='ans.css'>{{ ans.msg }}</div>

		</div>
	</div>
</div>