<div class='container' ng-controller='SolicitudesEntregaController'>
	<div class='panel panel-default'>
		<div class='panel-body'>

			<h3>Solicitudes de entrega</h3>

			<hr>

			<div class='panel panel-default' ng-repeat='s in solicitudes'>
				<div class='panel-body'>
					<h4>{{ $index+1 }}. Solicitud #{{ s.id }}</h4>
					<p><strong>Estado:</strong> {{ s.estado }}</p>
					<p><strong>Lugar:</strong> {{ s.lugar.nombre }}</p>
					<p><strong>Fecha de creacion:</strong> {{ s.fechacreacion.substring(0, 10) }}</p>
					<p><strong>Fecha requerida:</strong> {{ s.fecharequerida }}</p>
					<p><strong>Solicitante:</strong> {{ s.solicitante.nombre }}</p>
					<p><strong>Consolidador:</strong> {{ s.consolidador.nombre }}</p>
					<p><strong>Centro de costo:</strong> {{ s.centro.nombre }}</p>
					<p><strong>Equipo:</strong> {{ s.equipo.nombre }}</p>
					<p><strong>Productos:</strong></p>
					<ul><li ng-repeat='p in s.productos'>{{ p.nombres[0].nombre }}</li></ul>
				</div>
			</div>

			<div ng-hide='solicitudes' ng-class='ans.css'>
				<p>{{ ans.msg }}</p>
			</div>

		</div>
	</div>
</div>