<div ng-controller="CrearProductoController">
	<h3>Crear producto</h3>

	<form name='productoForm' novalidate>
		<div class='form-group'>
			<label>ID *</label>
			<input type='text'required>
		</div>

		<div class='form-group'>
			<div ng-repeat='nombre in crear.nombres'>
				<label>Nombre *</label>
				<input type='text' ng-model='nombre.v' required>
				<button ng-click='quitarnombre(nombre)' ng-disabled='crear.nombres.length <= 1'>Quitar nombre</button>
			</div>

			<button ng-click='agregarnombre()'>Agregar nombre</button>
		</div>

		<div class='form-group'>
			<label>Codigo ONU</label>
			<input type='text' ng-model='crear.onu'>
		</div>

		<div class='form-group'>
			<label>Tipo *</label>
			<select ng-options='t.k as t.v for t in tipo' ng-model='crear.servicio' required></select>
		</div>

		<div class='form-group'>
			<label>Descripcion *</label>
			<br>
			<textarea ng-model='crear.descripcion' required></textarea>
		</div>

		<div class='form-group'>
			<label>Referencia</label>
			<input type='text' ng-model='crear.referencia'>
		</div>

		<div class='form-group'>
			<label>Talla</label>
			<input type='text' ng-model='crear.talla'>
		</div>

		<div class='form-group'>
			<label>Marca *</label>
			<input type='text' ng-model='crear.marca' required>
		</div>

		<div class='form-group'>
			<div ng-repeat='unidad in crear.unidades'>
				<label>Unidad *</label>
				<input type='text' ng-model='unidad.v' required>
				<button ng-click='quitarunidad(unidad)'>Quitar unidad</button>
			</div>

			<button ng-click='agregarunidad()'>Agregar unidad</div>
		</div>

		<div class='form-group'>
			<label>Familia-proveedor</label>
			<select ng-options='f for f in familias' ng-show='familias'></select>
			<div class='alert alert-info' ng-hide='familias'>
				<p>{{ fmsg }}</p>
			</div>
		</div>

		<div class='form-group'>
			<label>Foto</label>
			<input type='text' ng-model='crear.foto'>
		</div>

		<div class='form-group'>
			<label>Seleccione equipo o centro de costo</label>
			<select ng-options='e for e in equipocentro'></select>
		</div>

		<div class='form-group' ng-show='ec == 1'>
			<label>Equipo</label>
			<input type='text' ng-model='crear.equipo'>
		</div>

		<div class='form-group' ng-show='ec == 2'>
			<label>Centro de costo</label>
			<input type='text' ng-model='crear.centro'>
		</div>

		<button ng-click='crearproducto()'>Crear producto</button>
	</form>
</div>