<div ng-controller='CrearProductoController as p'>
	<h3>Crear producto</h3>

	<form name='productoForm' novalidate>
		<div class='form-group'>
			<div ng-repeat='nombre in nombres'>
				<label>Nombre *</label>
				<input type='text' ng-model='nombre.v' required>
				<button ng-click='quitar(nombre, nombres)' ng-disabled='nombres.length <= 1'>Quitar nombre</button>
			</div>

			<button ng-click='agregar(nombres)'>Agregar nombre</button>
		</div>

		<div class='form-group'>
			<label>Codigo ONU</label>
			<input type='text' ng-model='crear.onu'>
		</div>

		<div class='form-group'>
			<label>Tipo *</label>
			<select ng-options='t.k as t.v for t in tipo' ng-model='crear.tipo' required></select>
		</div>

		<div class='form-group'>
			<label>Descripcion *</label>
			<br>
			<textarea ng-model='crear.descripcion' required></textarea>
		</div>

		<div class='form-group'>
			<label>Referencia</label>
			<input type='text' ng-model='crear.referencia'>
		</div>

		<div class='form-group'>
			<label>Talla</label>
			<input type='text' ng-model='crear.talla'>
		</div>

		<div class='form-group'>
			<label>Marca *</label>
			<input type='text' ng-model='crear.marca' required>
		</div>

		<div class='form-group'>
			<div ng-repeat='unidad in unidades'>
				<label>Unidad *</label>
				<input type='text' ng-model='unidad.v' required>
				<button ng-click='quitar(unidad, unidades)' ng-disabled='unidades.length <= 1'>Quitar unidad</button>
			</div>

			<button ng-click='agregar(unidades)'>Agregar unidad</button>
		</div>

		<div class='form-group'>
			<label>Familia-proveedor</label>
			<select ng-options='f.resource_uri as f.nombre for f in familias' ng-model='crear.familia'></select>
		</div>

		<div class='form-group'>
			<label>Foto</label>
			<input type='text' ng-model='crear.foto'>
		</div>

		<div class='form-group'>
			<label>Seleccione equipo o centro de costo</label>
			<select ng-options='e.k as e.v for e in equipocentro' ng-model='ec'></select>
		</div>

		<div class='form-group' ng-show='ec == 1'>
			<label>Equipo</label>
			<select ng-options='e.resource_uri as e.nombre for e in equipos' ng-model='crear.equipo'></select>
		</div>

		<div class='form-group' ng-show='ec == 2'>
			<label>Centro de costo</label>
			<select ng-options='c.resource_url as c.nombre for c in centros' ng-model='crear.centro'></select>
		</div>

		<button ng-click='crearproducto()'>Crear producto</button>

		<div ng-class='ans.css'>{{ ans.msg }}</div>
	</form>
</div>