<div class='container' ng-controller="CrearCentroController">
	<div class='panel panel-default'>
		<div class='panel-body'>

			<h3>Crear centro</h3>

			<hr>
			
			<form name='crearCentroForm' novalidate>
				<div class='form-group'>
					<label>Nombre *</label>
					<input class='form-control' type='text' ng-model='centro.nombre' ng-change='checknombre()' required>
				</div>

				<div class='form-group' ng-hide='validnombre' ng-class='nombremsg.css'>
					<p>{{ nombremsg.msg }}</p>
				</div>

				<div class='form-group alert alert-warning' ng-show='!crearCentroForm.$valid'>
					<p>Debe llenar todos los campos marcados con *</p>
				</div>

				<button class='btn btn-default' ng-click='crearcentro()' ng-disabled='!crearCentroForm.$valid'>Crear centro</button>
			</form>

			<br>

			<div ng-class='ans.css'>{{ ans.msg }}</div>

		</div>
	</div>
</div>