<div ng-controller="CrearProductoController">
	<h3>Crear producto</h3>
	<form name='productoForm' novalidate>
		<label for='crearproductonombre'></label>
		<input id='crearproductonombre' type='text' ng-model='producto.nombre'>

		<div ng-repeat='nombre in nombres'>
			{{nombre}}<strong ng-click="deletenombre(nombre)">✖</strong>
		</div>

		<textarea ng-model='nombresinput' placeholder='Escriba todos los nombres asociados separados por coma' ng-keyup='nombreschanged()'></textarea><h1>{{i}}</h1>

		<input type='text' placeholder='Codigo ONU' ng-model='producto.onu'>
		<input type='text' placeholder='Tipo*' ng-model='producto.tipo' required>
		<input type='text' placeholder='Descripcion*' ng-model='producto.descripcion' required>
		<input type='text' placeholder='Referencia' ng-model='producto.referencia'>
		<input type='text' placeholder='Talla' ng-model='producto.talla'>
		<input type='text' placeholder='Marca*' ng-model='producto.marca' required>
		<div ng-repeat='unidad in producto.unidades'>
			<input type='text' placeholder='Unidad*' ng-model='producto.unidad' required>
			<button ng-click='quitarunidad(unidad)'>Quitar unidad</button>
		</div>
		<button ng-click='agregarunidad()'>Agregar unidad</div>
		<input type='text' placeholder='Familia-proveedor' ng-model='producto.familia'>
		<input type='file' placeholder='Foto' ng-model='producto.foto'>
		<select ng-options='equipocentro.nombre for equipocentro in equipocentros' ng-model='producto.equipocentro'></select>
		<input type='text' placeholder='Equipo' ng-model='producto.equipo'>
		<input type='text' placeholder='Centro de costo' ng-model='producto.centro'>
		<input type='submit' value='Crear Producto' ng-click='crearproducto()'>
	</form>
</div>