<div id='productoForm' ng-show='nav == "2"'>
	<div class='panel panel-default col-md-11'>
		<div class='panel-body'>
			<h3>Crear producto</h3>
			<hr>
			<form name='productoForm' novalidate>

				<!-- Messages -->

				<div ng-class='message.css' ng-show='message.message != ""'>
					<p>{{ message.message }}</p>                        
				</div>

				<!-- Fields -->

				<div class='form-group'>
					<div class='alert alert-danger' ng-hide='validNombre()'>
						<p>El nombre ya existe</p>                        
					</div>

					<label for='nombreProducto'>Nombre *</label>
					<input type='text' class='form-control' id='nombreProducto' placeholder='Nombre' autocomplete='off' ng-model='form.nombre' required>
					<span class='alerts' ng-show='!form.nombre'>Este campo es requerido</span>
				</div>

				<div class='form-group'>
					<label for='descripcionProducto'>Descripcion *</label>
					<textarea class='form-control' id='descripcionProducto' placeholder='Descripcion del producto...' ng-model='form.descripcion' required></textarea>
					<span class='alerts' ng-show='!form.descripcion'>Este campo es requerido</span>
				</div>

				<div class='form-group'>
					<label for='marcaProducto'>Marca *</label>
					<input type='text' class='form-control' id='marcaProducto' placeholder='Marca' autocomplete='off' ng-model='form.marca' required>
					<span class='alerts' ng-show='!form.marca'>Este campo es requerido</span>
				</div>

				<div class='form-group'>
					<label for='unidadProducto'>Unidad *</label>
					<select class='form-control' id='unidadProducto' ng-options='unidad.nombre for unidad in opciones.unidades' ng-model='form.unidad' required></select>
					<span class='alerts' ng-show='!form.unidad'>Este campo es requerido</span>
				</div>

				<div class='form-group' ng-show='form.unidad.nombre == "otra"'>
					<input type='text' class='form-control' id='otraUnidadProducto' placeholder='Unidad' autocomplete='off' ng-model='form.otraUnidad' ng-required='form.unidad.nombre == "otra"'>
					<span class='alerts' ng-show='!form.otraUnidad'>Este campo es requerido</span>
				</div>

				<div class='form-group'>
					<label for='tipoProducto'>Tipo *</label>
					<select class='form-control' id='tipoProducto' ng-options='tipo.nombre for tipo in opciones.tipos' ng-model='form.tipo'required></select>
					<span class='alerts' ng-show='!form.tipo'>Este campo es requerido</span>
				</div>

				<button class='btn btn-default' ng-click='setSubmit("2") && submit()' ng-disabled='!productoForm.$valid || !validNombre()'>
					Crear producto
				</button>
				<span>Asegurese de llenar todos los campos marcados con *</span>
			</form>
		</div>
	</div>
</div>